

@media all and (min-width: 320px) {
    /* giao dien deskop */
    *{
       
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:sans-serif;
    }
   .noneed{
    display: none;
   }
    #wrap{
        z-index: 1;
        height: 100%;
        width: 100%;
        background: #27282c;
        position: absolute;
        /* css loading */
        -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)); /* bong o duoi loading */
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10px;
        
    }
    .load span {

        color: #fff;
        font-size: 2em;
        position: relative;
        display: inline-block; 
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.1s* var(--i));
    }
    @keyframes animate{
        0%{
            transform: translateY(0px);
        }
        20%{
            transform: translateY(-20px);
        }
        40%,100%{
            transform: translateY(0px);
        }
    }
    .clicked{
        /* css tong */
    
        background-color: #27282c;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }
    .aclicked{
        /* css nut */
        
        min-width: fit-content;
        position: relative;
        display: block;
        padding: 12px 36px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 40px;
        background: linear-gradient(90deg,#0162c8,#55e7fc);
        transition: 1s;
    }
    .aclicked:hover  {
         /* css nut : hover */
        font-size: 20px;
        background: linear-gradient(30deg,#0162c8,#55e7fc);
       transition: 1s;
    }
    .spanclicked {
         /* css text */
        max-width: fit-content;
        position: relative;
        display: block;
        padding: 12px 36px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
    }
   
}   


